<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/guestlist.css">
</head>

<body>

  <table >
  <tr>
    <th>Guest No.</th>
    <th>Full Name</th>
    <th>Email</th> 
    <th>Adults</th>
    <th>Children</th>
    <th>Infants</th>
    <th>Cost</th>
    <th>Message</th>
  </tr>
  <% var id = 1; var total = 0; %>
  <% data.forEach(function(entry) { %>
    <tr>
      <td><%= id %></td>
      <td><%= entry.fullName %></td>
      <td><%= entry.email %></td> 
      <td><%= entry.adults %></td> 
      <td><%= entry.children %></td> 
      <td><%= entry.infants %></td> 
      <td><%= entry.cost %></td> 
      <td><%= entry.message %></td>
    </tr>
    <% id++; %>
    <% total += entry.cost %>
  <% }); %>
  <tr>
    <td><%= id %></td>
    <td> - </td>
    <td> - </td> 
    <td> - </td> 
    <td> - </td> 
    <td>Total Cost:</td> 
    <td><%= total %></td> 
    <td> - </td>
  </tr>
</table>
</body>
</html>